@import "tailwindcss";

button{
    cursor: pointer;
}

.courses{
    background-color: hsla(0, 11%, 86%, 0.521);
    color: #333;
    padding: 60px 40px;
    text-align: left;
}

.courses h2{
    font-size: 40px;
    padding: 10px 0;
}

.courses h6{
    font-weight: 500;
    font-family: 22px;
    color: gray;
}

.skills{
    background-color: hsla(0, 37%, 97%, 0.521);
    color: #333;
    padding: 60px 40px;
    text-align: center;
}

.skills h1{
    font-size: 40px;
    padding: 10px 0;
}

.skills h6{
    font-weight: 500;
    font-family: 22px;
    color: gray;
}